@if (user) {
  <div class="ui grid">
    <div class="four wide column">
      @if (user.image) {
        <img class="ui large image" [src]="user.image.url">
      }
    </div>
    <div class="twelve wide column">
      <h1 class="ui header">Benutzer: ID {{ user.id }}</h1>
      <div class="ui grid">
        <div class="three wide column">
          <h4 class="ui header">Name</h4>
          <div>{{ user.firstname }} {{ user.lastname }}</div>
        </div>
        <div class="three wide column">
          <h4 class="ui header">E-Mail</h4>
          <div>{{ user.email }}</div>
        </div>
        <div class="three wide column">
          <h4 class="ui header">Rolle</h4>
          <div>{{ user.role }}</div>
        </div>
      </div>
    </div>
  </div>
}

<div class="ui segment">
  <button [routerLink]="'/home'" class="ui yellow labeled icon button">
    <i class="home icon"></i>Home
  </button>
  <button [routerLink]="'/users'" class="ui grey labeled icon button">
    <i class="arrow left icon"></i>Zurück zu allen Benutzern
  </button>
</div>

